:root {
    --primary-color: #4B4B4B;
    --secondary-color: #D9D9D9;
    --terciari-color: #00AC26;
    --background-color: #06C75F;
    --activity-color: #b34db2;
    --lack-color: #e41e15;
    --secretary-color: #FDCA30;
    --class-color: #1c5d8e;
    --title-color: #878787;
}